# Project exclude paths
/flink-annotations/target/
/flink-core/target/
/flink-filesystems/flink-hadoop-fs/target/
/flink-java/target/
/flink-queryable-state/flink-queryable-state-client-java/target/
/flink-runtime/target/
/flink-test-utils-parent/flink-test-utils-junit/target/
/target/
/tools/force-shading/target/